<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    

    <servlet>
        <servlet-name>GetUser</servlet-name>
        <servlet-class>servlets.GetUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterUser</servlet-name>
        <servlet-class>servlets.RegisterUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ActiveIncidents</servlet-name>
        <servlet-class>servlets.ActiveIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterVolunteer</servlet-name>
        <servlet-class>servlets.RegisterVolunteer</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>IncidentRegister</servlet-name>
        <servlet-class>servlets.IncidentRegister</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginUser</servlet-name>
        <servlet-class>servlets.LoginUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminIncidents</servlet-name>
        <servlet-class>servlets.AdminIncidents</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InfoUser</servlet-name>
        <servlet-class>servlets.InfoUser</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InitDB</servlet-name>
        <servlet-class>servlets.InitDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteDB</servlet-name>
        <servlet-class>servlets.DeleteDB</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesChatSelection</servlet-name>
        <servlet-class>servlets.MessagesChatSelection</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MessagesChat</servlet-name>
        <servlet-class>servlets.MessagesChat</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AdminLogin</servlet-name>
        <servlet-class>servlets.AdminLogin</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GetUser</servlet-name>
        <url-pattern>/GetUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InitDB</servlet-name>
        <url-pattern>/InitDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteDB</servlet-name>
        <url-pattern>/DeleteDB</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterUser</servlet-name>
        <url-pattern>/RegisterUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterVolunteer</servlet-name>
        <url-pattern>/RegisterVolunteer</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginUser</servlet-name>
        <url-pattern>/LoginUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InfoUser</servlet-name>
        <url-pattern>/InfoUser</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>IncidentRegister</servlet-name>
        <url-pattern>/IncidentRegister</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminIncidents</servlet-name>
        <url-pattern>/AdminIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ActiveIncidents</servlet-name>
        <url-pattern>/ActiveIncidents</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AdminLogin</servlet-name>
        <url-pattern>/AdminLogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesChatSelection</servlet-name>
        <url-pattern>/MessagesChatSelection</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MessagesChat</servlet-name>
        <url-pattern>/MessagesChat</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
